.svg
.png
*.png
*.svg
*.npy
*.pdf
Parameter estimations/Costs.csv
Parameter estimations/costsAFOcumCO2.dat
Parameter estimations/CostsJoined.csv
Parameter estimations/CostsSplitted.json
Parameter estimations/exponentialcurvehigh.csv
Parameter estimations/exponentialcurvelow.csv
Parameter estimations/Non-CO2 variance.nb
Parameter estimations/p.nb
Parameter estimations/T2010 from T2016.nb
Parameter estimations/T2010.nb
Parameter estimations/TasFctOfForcing.csv
Parameter estimations/TCRE and T1870.nb
Parameter estimations/TempChangeFromCO2.csv
Parameter estimations/TempChangeFromNonCO2.csv
*.pyc
ConvexNonCO2/variancedecomposition-IAM/
forVisualisation.csv
*.html
*.nb
*.json
.ipynb_checkpoints/Calculations for paper-checkpoint.ipynb
.ipynb_checkpoints/Sampling method-checkpoint.ipynb
.ipynb_checkpoints/Sampling method-TCRE beta-PERT distributed-checkpoint.ipynb
ConvexNonCO2/.ipynb_checkpoints/Sampling method - Convex non-CO2-checkpoint.ipynb
ConvexNonCO2/Sampling method - Convex non-CO2.ipynb
Sampling method-TCRE beta-PERT distributed.ipynb
Sampling method.ipynb
